* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(250, 248, 248);
    width: 100%;
    height: 100%;
}

.container {
    margin-bottom: 50px;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.card-title {
    font-family: serif;
    font-size: 2.5em;
    font-style: bold;
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    margin-bottom: -50px;
}

.Love {
    padding-top: 20px;
}

.noteOfThanks {
    padding: 20px;
    margin: 20px;
    margin-bottom: 100px;
}

.icon {
    width: 4rem;
    height: 4rem;
    max-width: 100%;
}

.h2 {
    font-size: 2.5em;
}

hr {
    color: #55C695;
}

.footer {
    position: relative;
    min-height: 100%;
    margin-top: 20px;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #00008B
}